<body bgcolor="brown">
<font size="7" style="color:white">Show Article</font>
<hr attribute1=".." attribute2="..">
<hr attribute1=".." attribute2="..">
<h1 style="color:white"> Title => 
<%= @article.title %></h2>


</h2>
<h1 style="color:white">Text =>
<%= @article.text %><h2>
<%= link_to 'Back', articles_path %>
<font size="7"  style="color:brown">. </font>
<font size="7"  style="color:brown">. </font>
<h1 size="7"  style="color:brown">. </h1>
<font size="7"  style="color:brown">. </font>
<font size="7"  style="color:brown">. </font>
<h1 size="7"  style="color:brown">. </h1>
<h1  style="color:white" align=right>Khalilziaratwal</h1>
