<body bgcolor="skyblue">
<center>
<font size="7":bold  style="color:brown">Welcome   To   My   Blog </font>

<h1 style="color:skyblue"> .</h1>

<h1  style="color:brown">Khalil Ahmed Ziaratwal </h1>
</center>
<h1 style="color:skyblue"> .</h1>
<h1 style="color:skyblue"> .</h1>
<H2>
<%= link_to 'My Blog', controller: 'articles' %></h2>
